<%# HEADER %>
<%= render "shared/header" %>
<%# // HEADER %>
<div class="wrapper">
  <%# お問い合わせチャットルームHEADER %>
  <div class="iquiry-header">
    <div class="left-header">
      <div class="header-title">
        <%= "件名：#{@room.title}" %>
      </div>
    </div>
    <div class="right-header">
      <div class="header-button">
        <%= link_to "チャットを終了する", room_path(@room), method: :delete, class: "btn btn-outline-danger" %>
      </div>
    </div>
  </div>
  <%# // お問い合わせチャットルームHEADEW %>
  <%# お問い合わせチャットルームメイン %>
  <div class="chat">
    <%= render "main_iquiry" %>
  </div>
  <%# // お問い合わせチャットルームメイン %>
</div>

<%# FOOTER %>
<%= render "shared/footer" %>
<%# //FOOTER %>