<%# CSS・・・assets/stylesheets/shared/header.scss %>
<header>
  <nav class="navbar navbar-expand navbar-dark" style="background-color: #ec782b;">
    <%= link_to image_tag("logo_bg.png", class: "wt-icon"), root_path, class: 'navbar-brand' %>
    <div id="Navber">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "#{current_user.name}さん", user_path(current_user.id), class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
      <% else %>
          <li class="nav-item active">
            <%= link_to "新規登録", new_user_registration_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to "ログイン", new_user_session_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
      <%= search_form_for @p, url: companies_search_path, class: "d-flex" do |f| %>
        <%= f.text_field :name_or_name_kana_or_profile_cont, placeholder: "キーワードから探す", class: "search-input form-control me-2" %>
        <button class="search-button">
          <%= image_tag "search.png", class:"search-icon" %>
        </button>
      <% end %>
    </div>
  </nav>
</header>